# Add Environment Variables
{{- range .env.windows }}
{{- if eq .action "set" }}
$env:{{ .var }} = {{ .value | squote }}
{{ else if eq .action "extend" }} 
if ($env:{{ .var }} -notlike "*{{ .value }}*") {
    $env:{{ .var }} = "$env:{{ .var }};{{ .value }}"
}
{{ end -}}
{{ end -}}

# Initialize the ripgrep config env variable
$env:RIPGREP_CONFIG_PATH = Join-Path $HOME ".config\.rgrc"

# Initialize the fzf config env variables
$env:FZF_DEFAULT_OPTS_FILE = Join-Path $HOME ".config\fzf\.fzfrc"
$env:FZF_DEFAULT_COMMAND = Get-Content -Path (Join-Path $HOME ".config\fzf\.fzfdc")
$env:_PSFZF_FZF_DEFAULT_OPTS = Get-Content -Path (Join-Path $HOME ".config\fzf\.psfzfrc") 