# Add GnuWin32 to the PATH for Windows
$env:PATH = "$env:PATH;$env:ProgramFiles(x86)\GnuWin32\bin"

# Initialize the ripgrep config env variable
$env:RIPGREP_CONFIG_PATH = Join-Path $HOME ".config\.rgrc"

# Initialize the fzf config env variables
$env:FZF_DEFAULT_OPTS_FILE = Join-Path $HOME ".config\fzf\.fzfrc"
$env:FZF_DEFAULT_COMMAND = Get-Content -Path (Join-Path $HOME ".config\fzf\.fzfdc")