# starship
function Invoke-Starship-TransientFunction {
    & starship module character
}

Invoke-Expression (starship init powershell | Out-String)
Enable-TransientPrompt

# zoxide
Invoke-Expression (zoxide init powershell | Out-String)