# starship
function Invoke-Starship-TransientFunction {
    $time = starship module time
    $shell = starship module shell
    $char = starship module character
    return "$shell$time $char"
}

Invoke-Expression (starship init powershell | Out-String)
Enable-TransientPrompt

# zoxide
Invoke-Expression (zoxide init powershell | Out-String)