progress = true
encryption = "age"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1xvez3je4mhx7xswxu6gpalmrxq88uktcncthtqs8m7zcjgnjd4qsq05uw8"

{{ if eq .chezmoi.os "windows" -}}
[cd]
command = "pwsh"
{{- end }}

[diff]
exclude = ["scripts"]
pager = "delta"

[edit]
command = "code"
args = ["--wait"]

[interpreters.ps1]
command = "pwsh"
args = ["-NoLogo", "-NoProfile"]
