# Install fonts
Add-Type -AssemblyName PresentationCore
$fontsSource = ([Windows.Media.Fonts]::SystemFontFamilies.Source)

if ($fontsSource -notcontains {{ .font.exactName | squote }}) {
    Write-Host "► Installing fonts" -ForegroundColor Cyan
    oh-my-posh font install {{ .font.name | squote }}
}

# Enable auto upgrade for oh-my-posh
oh-my-posh enable upgrade
