# Install packagess and configure system
if ((Get-PSRepository -Name PSGallery).InstallationPolicy -ne 'Trusted') {
    Write-Host "► Setting PSGallery as a trusted repository" -ForegroundColor Cyan
    Set-PSRepository -Name "PSGallery" -InstallationPolicy Trusted
}

Write-Host "► Installing Requred DSC Resources" -ForegroundColor Cyan
Install-Module PowerShellModule
Install-Module Microsoft.Windows.Settings -AllowPrerelease
Install-Module Microsoft.Windows.Developer -AllowPrerelease -AllowClobber

Write-Host "► Running DSC configuration" -ForegroundColor Cyan
$timestamp = Get-Date -Format 'dd-MMM-yyyy_HH-mm'
$fileName = "config.dsc.result_$timestamp.yaml"
$resultPath = Join-Path -Path $env:TEMP -ChildPath $fileName
dsc config set -o yaml -i {{ includeTemplate "config.dsc.yaml.tmpl" . | squote }} | Set-Content -Path $resultPath -Force
