function Download-NerdFont {
    param (
        [string]$FontName,
        [string]$Version = 'latest'
    )
    $repo = 'ryanoasis/nerd-fonts'
    
    $tag = $Version
    if ($Version -eq 'latest') {
        $fontsUri = "https://api.github.com/repos/$repo/releases"
        $tag = (Invoke-WebRequest $fontsUri | ConvertFrom-Json)[0].tag_name
    }
    
    $uri = "https://github.com/$repo/releases/download/$tag/$FontName.zip"
    $tempFile = Join-Path $env:TEMP "$FontName.zip"
    $tempDir = Join-Path $env:TEMP $FontName
    try {
        Invoke-WebRequest $uri -OutFile $tempFile
        Expand-Archive $tempFile -Destination $tempDir -Force
    }
    catch {
        Write-Host "Font $FontName does not exist with version $tag" -ForegroundColor Red
    }

    return Join-Path $env:TEMP $FontName
}

Add-Type -AssemblyName PresentationCore
$fontsSource = ([Windows.Media.Fonts]::SystemFontFamilies.Source)

if ($fontsSource -notcontains {{ .font.exactName | squote }}) {
    Write-Host "► Installing fonts" -ForegroundColor Cyan
    
    $fontRegPath = "HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Fonts"
    $fontsWinPath = "$env:WINDIR\Fonts"
    $fontPath = Download-NerdFont -FontName {{ .font.name | squote }}
    
    Get-ChildItem -Path $fontPath -Include '*.ttf', '*.otf', '*.fon', '*.fnt' -Recurse | ForEach-Object {
        if (-not (Test-Path "$fontsWinPath\$($_.Name)")) {
            Copy-Item $_ $fontsWinPath -Force
            New-ItemProperty -Path $fontRegPath -Name $_.Name -Value $_.Name -PropertyType String | Out-Null
        }
    }
}



