# Install yazi plugins
$installedPlugins = ya pkg list

Write-Host "► Installing yazi plugins" -ForegroundColor Cyan
{{ range .packages.yazi_plugins }}
if ($installedPlugins -like  {{ . | squote }} ) {
    ya pkg add {{ . | squote }} | Out-Null
}
{{ end }}
