# Install fonts
Add-Type -AssemblyName PresentationCore
$fontsSource = ([Windows.Media.Fonts]::SystemFontFamilies.Source)

if ($fontsSource -notcontains {{ .font.exactName | quote }}) {
    Write-Install -Label $config.font.name -Script
        { oh-my-posh font install {{ .font.name | quote }} | Out-Null }.GetNewClosure()
}
else {
    Write-Skip -Label {{ .font.name | quote }}
}

