--ansi
--style="default"
--reverse
--border="rounded"

--info="inline-right"
--pointer="=>"
--prompt="Search ❯ "

--preview="bat --style=numbers,changes {}"

--header-border="bottom"

--color="border:#aaaaaa,label:#cccccc,query:#d9d9d9"
--color="preview-border:#5f87af,preview-label:#ccccff"
--color="list-border:#669966,list-label:#99cc99"
--color="input-border:#996666,input-label:#ffcccc"
--color="header-border:#6699cc,header-label:#99ccff"
--color=hl:#5f87af,hl+:#5fd7ff,info:#b6af5b,marker:#87ff00
--color=prompt:green,spinner:#af5fff,pointer:#5fd7ff,header:#87afaf

