# Pofiles hashes
{{- range (glob  (joinPath .chezmoi.sourceDir "dot_profile/*.*")) }}
# {{ include . | sha256sum -}}
{{ end }}

# Import modules
{{ range .packages.windows.modules -}}
Import-Module -Name {{ . | squote }}
{{ end }}

# Import all profile files
{{- $base := print .chezmoi.sourceDir "/dot_profile/" }}
{{- $target := print .chezmoi.config.destDir "/.profile/" }}
{{- range (glob  (joinPath .chezmoi.sourceDir "dot_profile/*.*")) }}
. {{ replace $base $target . | replace ".tmpl" "" | squote -}}
{{ end }}
