# Re-install Dotfiles-Toolkit module if it has changed
{{ $moduleName := "Dotfiles-Toolkit" -}}
{{ $mpdulePath := joinPath .chezmoi.workingTree $moduleName -}}

{{ range (glob (joinPath $mpdulePath "/**/*.*")) }}
# {{ include . | sha256sum -}}
{{ end }}

$modulesPath = $env:PSModulePath -split ';' | Select-Object -First 1 | Join-Path -ChildPath {{ $moduleName | squote }}

Write-Host "🌀 Installing Dotfiles-Toolkit..." -NoNewline

Copy-Item -Path {{  $mpdulePath | squote }} -Destination "$modulesPath" -Recurse -Force
Install-Module -Name 'Microsoft.WinGet.Client'

Import-Module {{ $moduleName }} -Force

Write-Host "`r✅ [OK]   " -ForegroundColor Green -NoNewline
Write-Host "Installed Dotfiles-Toolkit"
